* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #f0f8ff;
  padding-top: 100px;
  padding-bottom: 80px;
}

.navbar {
  background-color: #0077b6;
  color: white;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.container {
  padding: 20px;
}

.container h2 {
  margin-bottom: 15px;
  color: #2c3e50;
}

/* Table */
.applications-table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  border-radius: 6px;
  overflow: hidden;
}

.applications-table th {
  padding: 12px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

.applications-table th {
  background: #0d91d8;
  color: white;
}

.applications-table tr:hover {
  background: #f9f9f9;
}