body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #f8eaf9;

}

.reissueSection {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.reissueContainer {
    background: rgb(51, 162, 210);
    padding: 30px 40px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(40, 40, 40, 0.1);
    width: 100%;
    max-width: 500px;

}

.reissueContainer h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #141313;
}

.reissueForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
